@use "../variables" as *;

#intro {
  display: none;
  margin-top: -21rem;
  &.visible {
    display: flex;
  }

  .intro-wrapper {
    position: relative;
    z-index: 2;
    .icon {
        font-size: 1rem;
    }
  }
}
