@use "../variables" as *;

#intro {
  display: none;

  &.visible {
    display: unset;
  }

  .intro-wrapper {
    position: relative;
    z-index: 2;

    .icon {
      font-size: 1rem;
    }
  }
  .on-spacer {
    height: 4rem;
  }

}

