---
---


<div>
  <div class="float-btn-wrapper" id="floatBtn" style="opacity: 0;">
    <button
      class="relative flex cursor-pointer items-center justify-center overflow-hidden border-2 border-border bg-background px-4 py-2 text-center text-primary rounded-full shadow-sm"
      name="scroll-to-top"
      aria-label="scroll-to-top"
      id="scrollTopBtn"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
        <path fill="currentColor" d="M19.512 9.098C20.583 10.169 19.825 12 18.31 12H16v8a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-8H5.69c-1.515 0-2.273-1.831-1.202-2.902l6.451-6.452a1.5 1.5 0 0 1 2.121 0z"/>
      </svg>
      <span class="pointer-events-none absolute inset-0"></span></button>
  </div>
</div>

<script>
function updateButtonVisibility() {
  const floatBtn = document.getElementById('floatBtn');
  if (floatBtn) {
    floatBtn.style.opacity = window.scrollY === 0 ? '0' : '1';
  }
}

function scrollToTop() {
  window.scrollTo({ top: 0, behavior: 'smooth' });
}

function initBtn() {
  document.removeEventListener('scroll', updateButtonVisibility);
  document.getElementById('scrollTopBtn')?.removeEventListener('click', scrollToTop);

  document.addEventListener('scroll', updateButtonVisibility);
  document.getElementById('scrollTopBtn')?.addEventListener('click', scrollToTop);
}

initBtn();
document.addEventListener('astro:after-swap', initBtn);
</script>
