---
import { Image } from 'astro:assets';
import FloatButtonImg from '@/assets/images/floatButtonImg.svg';
---


<div>
  <div class="float-btn-wrapper" id="floatBtn" style="opacity: 0;">
    <button
      class="relative flex cursor-pointer items-center justify-center overflow-hidden border-2 border-border bg-background px-4 py-2 text-center text-primary rounded-full shadow-sm"
      name="scroll-to-top"
      aria-label="scroll-to-top"
      id="scrollTopBtn"
    >
      <Image src={FloatButtonImg} alt="float-button" width={24} height={24}>

      </Image>
      <span class="pointer-events-none absolute inset-0"></span></button>
  </div>
</div>

<script>
function updateButtonVisibility() {
  const floatBtn = document.getElementById('floatBtn');
  if (floatBtn) {
    floatBtn.style.opacity = window.scrollY === 0 ? '0' : '1';
  }
}

function scrollToTop() {
  window.scrollTo({ top: 0, behavior: 'smooth' });
}

function initBtn() {
  document.removeEventListener('scroll', updateButtonVisibility);
  document.getElementById('scrollTopBtn')?.removeEventListener('click', scrollToTop);

  document.addEventListener('scroll', updateButtonVisibility);
  document.getElementById('scrollTopBtn')?.addEventListener('click', scrollToTop);
}

initBtn();
document.addEventListener('astro:after-swap', initBtn);
</script>
