---
import { Chronicle } from '@/components/About/Chronicle';
import { SimpleIntro } from '@/components/About/SimpleIntro';
import { TechStack } from '@/components/About/TechStack';
import { UseTools } from '@/components/About/UseTools';
// Component Imports
import BaseLayout from '@/layouts/baseLayout.astro';
import { Separator } from '../components/ui/separator';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
const description = 'About me: career, tech stack, tools, and hobbies';
---

<BaseLayout title="About" description={description}>
  <div class="container">
    <h1 class="font-black">About</h1>
    <hr class="title-divider" />
    <section class="simple-intro">
      <SimpleIntro client:visible />
    </section>

    <Separator className="my-8" />
    <section class="tech-stack">
      <TechStack client:visible />

    </section>
    <Separator className="my-8" />
    <section class="chronicle">
      <Chronicle client:visible />

    </section>
    <Separator className="my-8" />
    <section class="use-tool">
      <UseTools client:visible />

    </section>
    <!-- <Separator className="my-8" />
    <section class="hobby">
      <HobbyList client:visible />
    </section> -->
  </div>
</BaseLayout>
