---
// Component Imports

import type { BlogFrontMatter } from '@/types/commonType';
import type { MarkdownInstance } from 'astro';
import EachArticle from '@/components/Blog/EachArticle.astro';
import BaseLayout from '@/layouts/baseLayout.astro';
import dayjs from 'dayjs';

const posts: MarkdownInstance<BlogFrontMatter>[] = Object.values(import.meta.glob('./blog/**/*.md', { eager: true }));
posts.sort((a, b) => dayjs(b.frontmatter.created).unix() - dayjs(a.frontmatter.created).unix());
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="container">
    <h1>Blog</h1>
    <hr class="title-divider" />

    <div class="mt-8">
      {posts.map((post) =>
        <EachArticle frontmatter={post.frontmatter} url={post.url} client:visible />,
      )}
    </div>

  </div>
</BaseLayout>
