---
// Component Imports

import BaseLayout from '../layouts/baseLayout.astro';

const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <h1>Blog</h1>
</BaseLayout>
