---
// Component Imports

import BaseLayout from '../layouts/baseLayout.astro';

const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="container">
    <h1>Blog</h1>
    <div class="bg-amber-300 h-[100rem]">

    </div>
  </div>
</BaseLayout>
