---
import Flickering from '@/components/home/Flickering';
import InteractiveIconCloud from '@/components/home/InteractiveIconCloud';
import Intro from '@/components/home/Intro';
import TerminalInfo from '@/components/home/TerminalInfo';
import { TextAnimate } from '@/components/ui/text-animate';
import { LightRays } from '@/components/ui/light-rays';

import { Separator } from '@/components/ui/separator';
import BaseLayout from '@/layouts/baseLayout.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
const description = 'Introduction page of Blog';

---

<BaseLayout title="Home" description={description}>
  <div class="container overflow-x-hidden relative">
    <LightRays
      className="!fixed inset-0 z-0"
      count={8}
      speed={16}
      length="80vh"
      client:idle
    />
    <div class="mt-[20rem] max-md:mt-[10rem]"></div>
    <div class="flex justify-center ">
      <TerminalInfo client:visible />
    </div>
    <Flickering client:visible />
    <div id="intro">
      <div class="flex justify-center mt-[-21rem]">
        <div class="intro-wrapper">
          <TextAnimate
            className="font-display text-center text-4xl font-bold tracking-[-0.02em] max-sm:text-2xl dark:text-slate-200 text-slate-700"
            by="character"
            animation="slideUp"
            text="Hello World! I'm Junja"
            client:visible
          />
          <Intro client:visible />
        </div>
      </div>
      <div class="on-spacer"></div>
      <Separator className="my-8" />
        <TextAnimate
          className="font-display text-center text-4xl max-sm:text-2xl font-extrabold dark:text-slate-200 text-slate-700"
          by="character"
          animation="slideLeft"
          text="Technologies I've worked"
          client:visible
        />
      <div class="flex justify-center">

        <InteractiveIconCloud client:visible />
      </div>
    </div>



  </div>

</BaseLayout>

<script is:inline>
  setTimeout(() => {
    if (document.getElementById('intro'))
      document.getElementById('intro').classList.add('visible');
    if (document.querySelector('.scroll-animation') && document.querySelector('.container')) {
      if (window.innerHeight < (document.querySelector('.container').offsetHeight + 224)) {
        document.querySelector('.scroll-animation').classList.remove('hidden');
      }
    }
  }, 4000);
</script>
