---
import Intro from '@/components/home/Intro';
import TerminalInfo from '@/components/home/TerminalInfo';
import LetterPullup from '@/components/ui/letter-pullup';
import BaseLayout from '@/layouts/baseLayout.astro';
import Flickering from '../components/home/Flickering';

const visible = false;

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="container ">
    <div class="mt-[20rem]"></div>
    <div class="flex justify-center ">
      <TerminalInfo client:visible />
    </div>
    <Flickering client:visible />
    <div id="intro" class="flex justify-center">
      <div class="intro-wrapper">
        <LetterPullup className="" words="Hello World! I'm Junja" delay={0.05} client:visible />
        <Intro client:visible />
      </div>
    </div>
    <!--<div class="bg-zinc-400 h-[50rem]"></div>-->
  </div>

</BaseLayout>

<script is:inline>
  setTimeout(() => {
    document.getElementById('intro').classList.add('visible');
  }, 6000);
</script>
