---
import Flickering from '@/components/home/Flickering';
import InteractiveIconCloud from '@/components/home/InteractiveIconCloud';
import Intro from '@/components/home/Intro';
import TerminalInfo from '@/components/home/TerminalInfo';
import GradualSpacing from '@/components/ui/gradual-spacing';
import LetterPullup from '@/components/ui/letter-pullup';

import { Separator } from '@/components/ui/separator';
import BaseLayout from '@/layouts/baseLayout.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
const description = 'Introduction page of Blog';

---

<BaseLayout title="Home" description={description}>
  <div class="container overflow-x-hidden">
    <div class="mt-[20rem] max-md:mt-[10rem]"></div>
    <div class="flex justify-center ">
      <TerminalInfo client:visible />
    </div>
    <Flickering client:visible />
    <div id="intro">
      <div class="flex justify-center mt-[-21rem]">
        <div class="intro-wrapper">
          <LetterPullup
            className="max-sm:text-2xl dark:text-slate-200 text-slate-700 "
            words="Hello World! I'm Junja"
            delay={0.05}
            client:visible
          />
          <Intro client:visible />
        </div>
      </div>
      <div class="on-spacer"></div>
      <Separator className="my-8" />
        <GradualSpacing
          className="font-display text-center text-4xl max-sm:text-2xl font-extrabold dark:text-slate-200 text-slate-700"
          text="Technologies I've worked"
          client:visible
        />
      <div class="flex justify-center">

        <InteractiveIconCloud client:visible />
      </div>
    </div>



  </div>

</BaseLayout>

<script is:inline>
  setTimeout(() => {
    if (document.getElementById('intro'))
      document.getElementById('intro').classList.add('visible');
    if (document.querySelector('.scroll-animation') && document.querySelector('.container')) {
      if (window.innerHeight < (document.querySelector('.container').offsetHeight + 224)) {
        document.querySelector('.scroll-animation').classList.remove('hidden');
      }
    }
  }, 4000);
</script>
