---
// Component Imports
import Articles from '@/components/Playground/Articles';
import BaseLayout from '@/layouts/baseLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('playground');
projects.sort((a, b) => {
  const aDate = new Date(a.data.duration.split(' ~ ')[0]);
  const bDate = new Date(b.data.duration.split(' ~ ')[0]);
  return bDate.getTime() - aDate.getTime();
});

const description = 'Playground for testing front-end technologies.';
---

<BaseLayout title="playground" description={description}>
  <div class="container">
    <h1>Playground</h1>
    <hr class="title-divider" />

    <Articles projects={projects} />

  </div>
</BaseLayout>
