---
// Component Imports
import EachArticles from '@/components/Project/EachArticles';
import BaseLayout from '@/layouts/baseLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('playground');
projects.sort((a, b) => {
  const aDate = new Date(a.data.duration.split(' ~ ')[0]);
  const bDate = new Date(b.data.duration.split(' ~ ')[0]);
  return bDate.getTime() - aDate.getTime();
});

const description = 'Interactive demos and experiments with frontend technologies';
---

<BaseLayout title="Playground" description={description} keywords={['playground', 'demo', 'interactive', 'frontend experiment']}>
  <div class="container">
    <h1>Playground</h1>
    <hr class="title-divider" />

    <div id="projects-wrapper" class="mt-8">
      {projects.map((project) => (
        <EachArticles frontmatter={project.data} url={`/playground/${project.id}`} client:visible />
      ))}
    </div>
  </div>
</BaseLayout>
