---
// Component Imports
import Counter from '@/components/Counter';
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

import BaseLayout from '../layouts/baseLayout.astro';


const description = 'Playground for testing front-end technologies.';

const someProps = {
  count: 0,
};

---

<BaseLayout title="playground" description={description}>
  <div class="container">
    <h1>Playground</h1>
    <hr class="title-divider" />
    <br />
    <section>
      <Counter {...someProps} client:visible>
        <h1>Hello, React!</h1>
      </Counter>
    </section>
    <section>
    </section>
  </div>


</BaseLayout>

<style is:global>
    pre.has-focused .line:not(.focused) {
        filter: blur(1px);
    }
</style>
