---
// Component Imports
import BaseLayout from '../layouts/baseLayout.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="container">
    <h1>Project</h1>
  </div>
</BaseLayout>
