---
// Component Imports
import BaseLayout from '../layouts/baseLayout.astro';

const description = 'Projects about made by JunjaK.';
---

<BaseLayout title="project" description={description}>
  <div class="container">
    <h1>Project</h1>
    <hr class="title-divider" />
  </div>
</BaseLayout>
