---
// Component Imports
import BaseLayout from '../layouts/baseLayout.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout title="project">
  <div class="container">
    <h1>Project</h1>
    <hr class="title-divider" />
  </div>
</BaseLayout>
