---
// Component Imports
import EachArticles from '@/components/Project/EachArticles';
import BaseLayout from '@/layouts/baseLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('project');
projects.sort((a, b) => {
  const aDate = new Date(a.data.duration.split(' ~ ')[0]);
  const bDate = new Date(b.data.duration.split(' ~ ')[0]);
  return bDate.getTime() - aDate.getTime();
});

const description = 'Projects about made by JunjaK.';
---

<BaseLayout title="project" description={description}>
  <div class="container">
    <h1 class="font-black">Project</h1>
    <hr class="title-divider" />

    <div id="projects-wrapper" class="mt-8">
      {projects.map((project) => (
        <EachArticles frontmatter={project.data} url={`/playground/${project.slug}`} client:visible />
      ))}
    </div>
  </div>
</BaseLayout>

