@import "tailwindcss";
@import "tw-animate-css";

@config "../../../tailwind.config.mjs";

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@layer base {
    ::-webkit-scrollbar-track {
        background-color: hsl(0 0% 100%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsl(240 5% 64.9%);
    }

    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem
    }

    .dark {
        ::-webkit-scrollbar-track {
            background-color: hsl(240 10% 3.9%);
        }

        ::-webkit-scrollbar-thumb {
            background-color: hsl(240 3.7% 40.9%);
        }

        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


@layer components {
    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
    }

    h2 {
        @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0
    }

    h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight
    }

    h4 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight
    }

    p {
        @apply leading-7
    }

    .lead {
        @apply text-muted-foreground text-xl
    }

    .layout-background {
        @apply shadow-sm saturate-100 backdrop-blur-[4px] transition-all duration-200 bg-background/80
    }

    .title-divider {
        @apply h-px my-4 bg-gray-300 border-0 dark:bg-zinc-700 w-1/3
    }
}

[data-aos^="fade"],
[data-aos^="zoom"] {
    transition-property: all !important;
}


:root {
    --green-0: #059669;
    --green-1: #10b981;
    --green-2: #34d399;
    --green-3: #6ee7b7;
    --green-4: #a7f3d0;
    --green-5: #ecfdf5;
    --green-5-5: #EEFDF7;
    --green-6: #F5FEFA;
    --accent-color: var(--green-0);

    --text-title: #27272a;
    --text-p: #3f3f46;
    --text-muted: #71717a;

    --table-th: #52525b;
    --table-td: #71717a;

    --color-archive-year: black;
    --color-border: var(--green-3);
    --color-link: var(--green-1);
    --color-background: #f4f4f5;
    --color-code-background: #f5f5f5;
    --color-header-background: rgba(255, 255, 255, 0.9);
    --color-footer-background: #fff;
    --color-wrap: #fff;

    --color-h2-border: #eee;
    --color-meta-shadow: var(--green-6);
    --color-hover-shadow: rgba(150, 150, 150, 0.1);
    --color-h2-after: var(--green-1);
    --color-red-6-shadow: rgba(78, 255, 78, 0.6);
}

[data-theme="dark"]:root {
    --accent-color: var(--green-1);
    --green-0: var(--green-1);
    --green-4: rgba(208, 255, 208, 0.5);
    --green-5: rgba(228, 255, 228, 0.2);
    --green-5-5: rgba(236, 255, 236, 0.1);
    --green-6: rgba(243, 255, 243, 0.2);

    --text-title: #f4f4f5;
    --text-p: #d4d4d8;
    --text-muted: #a1a1aa;

    --table-th: #f4f4f5;
    --table-td: #e4e4e7;


    --color-archive-year: #999;
    --color-border: var(--green-5);
    --color-background: #27272a;
    --color-code-background: rgba(232, 232, 232, 0.2);
    --color-header-background: #222222;
    --color-footer-background: #21252b;
    --color-wrap: #272b30;

    --color-h2-border: #47474a;
    --color-meta-shadow: rgba(0, 0, 0, 0.2);
    --color-hover-shadow: rgba(0, 0, 0, 0.2);

}
