@use "variables" as *;

body {
  font-family: 'Gothic A1', sans-serif;
  overflow-x: hidden;
}

nav {
  .nav-content-wrapper {
    position: fixed;
    z-index: 10;
    width: 100vw;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    width: $px400;
    margin: 0 auto;
    @media  screen and (max-width: 768px) {
      padding: 1rem 2rem;
    }
    .doc-nav {
      .nav-btn {
        width: 5.5rem;
      }
    }

    .nav-route {
      width: 6rem
    }

    .logo {
      font-size: 2rem;
      font-weight: 600;
    }

    .action-btn-wrapper {
      display: flex;
      gap: $px6;
    }
  }
}

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100vw;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    width: $px400;
    margin: 0 auto;
    @media  screen and (max-width: 768px) {
      padding: 0.8rem 2rem;
    }
  }

}
.float-btn-wrapper {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 40;
}

main {
  width: $px400;
  margin: 0 auto;
  padding: 0 4rem;
  @media  screen and (max-width: 768px) {
    padding: 0 2rem;
  }

  .container-wrapper {
    margin-top: 8rem;
    height: calc(100dvh - 12.5rem);

    @media  screen and (max-width: 768px) {
      height: calc(100dvh - 11rem);
    }
  }
  .dummy-container {
    height: 6rem;
    @media  screen and (max-width: 768px) {
      height: 5rem;
    }
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
