@use "variables" as *;

body {
  overflow-x: hidden;
}

nav {
  .nav-content-wrapper {
    position: fixed;
    z-index: 10;
    width: 100vw;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    width: $px400;
    margin: 0 auto;
    @media  screen and (max-width: 768px) {
      padding: 1rem 2rem;
    }

    a {
      width: $px32
    }

    .logo {
      font-size: 2rem;
      font-weight: 600;
    }

    .action-btn-wrapper {
      display: flex;
      gap: $px6;
    }
  }
}

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100vw;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    width: $px400;
    margin: 0 auto;
    @media  screen and (max-width: 768px) {
      padding: 1rem 2rem;
    }
  }

}

main {
  width: $px400;
  margin: 0 auto;
  padding: 0 4rem;
  @media  screen and (max-width: 768px) {
    padding: 0 2rem;
  }
  .container-wrapper {
    margin-top: 8rem;
    height: calc(100dvh - 13.5rem);
    @media  screen and (max-width: 768px) {
      height: calc(100dvh - 11.5rem);
    }
  }
  .dummy-container {
    height: 6rem;
    @media  screen and (max-width: 768px) {
      padding: 0 3rem;
    }
  }
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
