
$px6: min(1.5vw, 1.125rem);
$px100: min(25vw, 18.75rem);
$px150: min(37.5vw, 28.125rem);
$px200: min(50vw, 37.5rem);
$px213: min(53.25vw, 39.9375rem);
$px214: min(53.5vw, 40.125rem);
$px400: min(100vw, 75rem);

