---
import { ClientRouter } from 'astro:transitions';
import dayjs from 'dayjs';
import dayJsRelativeTime from 'dayjs/plugin/relativeTime';

import CommonScript from '@/components/layouts/CommonScript.astro';
import FloatButton from '@/components/layouts/FloatButton.astro';
import FrierenCursor from '@/components/layouts/FrierenCursor.astro';
import Footer from '@/components/layouts/Footer';
import Navigation from '@/components/layouts/Navigation';
import ThemeInit from '@/components/layouts/ThemeInit.astro';
import ScrollProgress from '@/components/ui/scroll-progress';
import CommonMeta from '../components/MetaAnalytics/CommonMeta.astro';

import VendorScript from '../components/MetaAnalytics/VendorScript.astro';
import '@fontsource/gothic-a1';
import '@fontsource/m-plus-1p';
import '@fontsource/roboto';
import '@/assets/styles/global.css';
import '@/assets/styles/index.scss';
import 'dayjs/locale/en';

dayjs.extend(dayJsRelativeTime);
dayjs.locale('en');

const { title, description } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={title} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <ClientRouter />
  <CommonMeta title={`Jun devlog | ${title}`} description={description} keywords={['others']} />
  <VendorScript />
  <ThemeInit />
  <style>


  </style>

</head>
<body>
<FrierenCursor />
<Navigation client:idle></Navigation>

<main>
  <ScrollProgress
    className="scroll-animation  top-[4rem] max-md:top-[3.5rem] bg-gradient-to-r from-neutral-200/30 via-neutral-200/70 to-neutral-200/30"
    client:idle
  />

  <div class="container-wrapper">
    <slot></slot>
    <div class="dummy-container" />
  </div>
</main>
<Footer client:idle />
<FloatButton />
<CommonScript />
</body>
</html>
